@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
    display: flex;
    margin: 0;
}
/***Left Side Styling***/
.left-container {
    background-image: url('/images/norse-rockface.jpeg');
    background-position: left;
    width: 35%;
    height: 100vh;
}

@font-face {
    font-family: norse-bold;
    src: url('/fonts/Norse-Bold.otf');
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    background-color: black;
    opacity: 0.6;
    margin-top: 30%;
}

.logo-img {
    height: 80%;
    width: auto;
}

.logo-text {
    color: white;
    font-family: 'norse-bold', sans-serif;
    font-size: 5rem;
    margin-top: 20px;
}

.left-footer {
    text-align: center;
    font-size: 10px;
    color: white;
    position: fixed;
    bottom: 20px;
    width: 35%;
}

.left-footer a {
    color: white;
}
/***Right Side Styling***/

.right-container {
    width: 65%;
    background-color: #E4E4E4;
}

.header {
    font-size: 1.5rem;
    width: min(675px, 80%);
    margin: 100px 0 50px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.form-container {
    background-color: whitesmoke;
    box-shadow: 0 2px 4px grey;
}

.form-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 15px 0 25px 40px;
}

.form-row {
    display: flex; 
    flex-wrap: wrap
}

.label-input-combo {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 40px;
}

label {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 500;
}

input {
    width: 220px;
    font-family: 'Roboto', sans-serif;
    padding: 5px;
    border: 0.5px solid #E4E4E4;
    border-radius: 5px;
    background-color: whitesmoke;
}

input:focus {
    outline: none;
    box-shadow: 2px 2px 4px grey;
    border: 0.1px solid blue;
    border-radius: 5px;
}

input:invalid {
    border: 0.1px solid red;
    border-radius: 5px;
}

.right-footer {
    margin: 30px 0 10px 40px;
}

.create-btn {
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    padding: 12px 50px;
    margin-bottom: 30px;
    background-color: #1F2422;
    color: #E4E4E4;
    box-shadow: 0 2px 8px grey; 
}

.create-btn:active {
    box-shadow: none;
}

.login-text {
    font-family: 'Roboto', sans-serif;
}

span {
    color: #1F2422;
    font-weight: bold;
}